release/v22.0.0/manifest.json text eol=lf
release/v22.0.0/manifest.sig.b64 text eol=lf
release/current.txt text eol=lf
release/v23.0.0/manifest.json text eol=lf
release/v23.0.0/manifest.sig.b64 text eol=lf
release/v47.0.0/manifest.json text eol=lf
release/v47.0.0/manifest.sig.b64 text eol=lf
release/v50.0.0/manifest.json text eol=lf
release/v50.0.0/manifest.sig.b64 text eol=lf
release/v74.0.0/manifest.json text eol=lf
release/v74.0.0/manifest.sig.b64 text eol=lf
